{% extends 'base.html' %}

{% block title %}to do app{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{{ name }}

eg 13618268
<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'student' %}">
  {% csrf_token %}
<input class="form-control mr-sm-2" type="add" placeholder="id" aria-label="student id" name="studentID" >
<input type="hidden" name="type" value="studentID">
<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Run</button>
</form>
<br>
{% for programme in years %}
<h1>programme</h1>
{% for year in programme %}
<h1>Year:{{ year.yearName }}</h1>
{% for term in year.terms %}
<h2>Term:{{ term.termName }}</h2>
    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            
            <th scope="col">Class</th>
            <th scope="col">Grade</th>
            <th scope="col">class email</th>
          </tr>
        </thead>
          <tbody>

          <!--iterates through classGrades object-->
        {% for class in term.classGrades %}
            
                <tr>
                  <td>{{ class.name }} </td> 
                  <td>{{ class.grade }} </td>  
                  <td>{{ class.teacherGroupEmail }} </td>
                </tr>
        {% endfor %}
   
            </tbody>
    </table>
  {% endfor %}
  {% endfor %}
  {% endfor %}
 <br>
 {{ years }}   
{% endblock %}

